# Operating System files
.DS_Store
Thumbs.db

# Editor/IDE specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Temporary files
*.tmp
*.log

# Node / build
node_modules/
assets/css/main.css
assets/css/*.map

# Sensitive information
.env